.post-header {

}

.code-input {
    margin-top: -20px;
    
    
}

@media screen and (max-width: 800px) {
    .cc-title {
      font-size: 35px;
      margin-top: 10px;
    }
  
    .cc-text {
      font-size: 15px;
      margin-top: 20px;
    }
  }