.news-articles {
    display: flex;
    width: 60%;
    background-color: #1775ee;
    color: white;
    border-radius: 3px;
    margin-bottom: 5px;
}

.article-title {
    border-bottom: 2px dotted white;
   
}

.tech-new-header {
    font-size: 35px;
    background-color: #1775ee;
    width: 60%;
    color: white;
    border-radius: 10px;
}

p {
    text-align: center;
}


div a {
    font-size: 20px;
    color: wheat;
    text-align: center;
}

div a:hover {
    font-size: 25px;
    color: wheat;
   
}

@media (max-width: 1100px) {
    .tech-new-header {
       font-size: 20px;
    }
}